html {
  background-color: #E4E9FD;
  /* background-image: -webkit-linear-gradient(65deg, #B2C8DF 50%, #E4E9FD 50%); */
  background-image: url("../fundo.jpeg");
  min-height: 1000px;
  font-family: 'helvetica neue';
}

h1 {
  color: #fff;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0, 5, 3, 0.1);

}

#heading {
  background-color: #748DA6;
  text-align: center;
  font-size: 30px;
}

.item {
  min-height: 90px;
  background-color: #EEEEEE;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
  border-radius: 10px;
}

.letter{
  font-family:'IBM Plex Mono', monospace;
  font-size: 20px;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #748DA6;
  font-family:'IBM Plex Mono', monospace;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form.item {
  text-align: center;
  margin-left: 0px;
}

.btn-plus {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #748DA6;
  color: #fff;
  font-size: 30px;
  padding-bottom: 2px;
  border-width: 0;
  cursor: pointer;
  box-shadow: 10px 5px 15px  grey;



}

.btn-plus:active{
  box-shadow: none;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-weight: 200;
  width: 315px;
  padding-left: 20px;
  font-size: 30px;
  font-family:'IBM Plex Mono', monospace;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #748DA6;
  font-size: 25px;
  font-family:'IBM Plex Mono', monospace;


}

::placeholder {
  color: #748DA6;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
